
@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p>Choose your destiny.</p>
    <div class="media">
        <div class="col-sm-2">
            <a href="@Url.Action("Index", "Instagram")">
                <img src="~/Content/glyph-logo_May2016.png" class="media-object" width="128" height="128" />
            </a>
        </div>
        @*<div class="col-sm-2">
            <a href="#">
                <img src="~/Content/glyph-logo_May2016.png" class="media-object" width="128" height="128" />
            </a>
        </div>*@
    </div>
</div>
